{% extends "base.html" %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="span6">
	  <div>
	  This is a demonstration of how to use Okta to handle authentication for a web application.
	  </div>
	  <!-- Source: -->
	  <!-- http://openclipart.org/detail/34273/tango-system-lock-screen-by-warszawianka -->
          <img src="/static/img/locked-screen.png" />
        </div>
        <div class="span6">
          {% if opts['invalid_username_or_password'] %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Incorrect Username or Password.
          </div>
          {% endif %}
          {% if opts['account_not_active'] %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Account not active. Please contact your account administrator.
          </div>
          {% endif %}
          <form method="POST">
            <fieldset>
              <label>Username</label>
              <input type="text" name="username">
              <label>Password</label>
              <input type="password" name="password">
              <br/>
              <button type="submit" class="btn">Log in</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{% endblock %}