{% extends "base.html" %}
{% block body %}
    <div class="container">
      <div>
        <h1>
          You are logged in!
        </h1>
      </div>
      <div class="row">
        <div class="span6">
	  <!-- Source: http://openclipart.org/detail/176289/top-secret-by-joshbressers-176289 -->
          <img src="/static/img/top-secret.png"/>
        </div>
      </div>
    </div>
{% endblock %}